<div class="total">
  <div class="heading">My <span>Education</span></div>
  <hr />

  <div class="sec1">
    <div class="circle circle1">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="line line1"></div>
    <div class="yr yr1">2015</div>
    <br><br>
    <div class="text">
      <span>Bansal Institute of Science and Technology, Bhopal (M.P.)<br>
        — Bachelor of Engineering</span><br><br>
        August 2011 - May 2015<br>
        The college is affiliated to RGPV, Bhopal. Graduated with 8.15 CGPA.
    </div>
  </div>

  <div class="sec2">
    <div class="circle circle2">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="line line2"></div>
    <div class="yr yr2">2011</div><br><br>
    <div class="text">
      <span>Christ Sr. Sec School, Guna (M.P.) — 12th</span><br><br>
        July 2010 - March 2011<br>
        The school follows the CBSE curriculum. Scored 68.6%.
    </div>
  </div>

  <div class="sec3">
    <div class="circle circle3">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="line line3"></div>
    <div class="yr yr3">2009</div><br><br>
    <div class="text">
      <span>Christ Sr. Sec School, Guna (M.P.)— 10th</span><br><br>
      July 2008 - March 2009 <br>The school follows the MPBSE curriculum. Scored
      65.6%.
    </div>
  </div>
</div>
<br>
<br>
