<div class="total">
    <div class="heading">
        <span>About </span>Me
    </div>
    <hr>
    <div class="details">
        Name :- <span>Karthik Saxena</span><br>
        Age :- <span>27</span><br>
        Qualification :- <span>B.E.</span><br>
        Post :- <span>Senior Software Engineer</span><br>
        language :- <span>English, Hindi, Espanol</span><br>
    </div>
    <div class="line1">
        <div class="sec1">
            <span>5+</span><br>Year Of<br>Experience 
        </div>
        <div class="sec2">
            <span>10+</span><br>Projectes<br>Completed
        </div>
    </div>
    <div class="download">
        Download CV <i class="fas fa-download"></i>
    </div>
</div>