<div class="total">
  <div class="heading">My<span> Experience</span></div>
  <hr />

  <div class="exp1">
    <div class="circle circle1"><i class="fas fa-file-code"></i></div>
    <div class="line line1"></div>
    <div class="date date1">April 2021 - Till Date</div>
    <div class="name1">
      <span>Volvo IT,</span> Bangalore -
      <span><br />Application Developer Specialist</span>
    </div>
    <div class="content1">
      Worked as a Fullstack Developer in the team of<br />
      7 developing the Volvo Trucks Aftermarket Service <br />
      Management Web Application.
    </div>
  </div>
  <div class="exp2">
    <div class="circle circle2"><i class="fas fa-file-code"></i></div>
    <div class="line line2"></div>
    <div class="date date2">Septmber 2020 - April 2021</div>
    <div class="name2">
      <span>HP,</span> Bangalore - <span>Sr. Software Engineering</span>
    </div>
    <div class="content2">
      Working as Fullstack Developer developing <br />
      MicroServices using the gRPC Technology.<br />
      Creating Services for generating SMS and<br />
      Email Notification using AWS SNS.
    </div>
  </div>
  <div class="exp3">
    <div class="circle circle3"><i class="fas fa-file-code"></i></div>
    <div class="line line3"></div>
    <div class="date date3">May 2020 - Septmber 2020</div>

    <div class="name3">
      <span>Marlabs IT,</span> Bangalore -
      <span><br />Sr. Software Engineering</span>
    </div>
    <div class="content3">
      Worked as Fullstack Developer in the team<br />
      of 11 developing the Contact Management Project<br />
      in Dotnet Core And Angular from Scratch.
    </div>
  </div>
  <div class="exp4">
    <div class="circle circle4"><i class="fas fa-file-code"></i></div>
    <div class="line line4"></div>
    <div class="date date4">December 2019 - May 2020</div>
    <div class="name4">
      <span>Volvo IT,</span> Bangalore - <span>Consultant</span>
    </div>
    <div class="content4">
      Worked as a Fillstack Developer in the team <br />
      of 7 developing the Volovo Trucks aftermarket<br />
      service Management Web Application.
    </div>
  </div>
  <div class="exp5">
    <div class="circle circle5"><i class="fas fa-file-code"></i></div>
    <div class="line line5"></div>
    <div class="date date5">July 2017 - December 2019</div>
    <div class="name5">
      <span>Siemence Technology and Services,</span> Bangalore - <br />
      <span>Software Developer</span>
    </div>
    <div class="content5">
      Worked as a Web Developer(Full Stack)<br />
      in the team of 4 Member Leading the whole flow.
    </div>
  </div>

  <div class="exp6">
    <div class="circle circle6"><i class="fas fa-file-code"></i></div>
    <div class="line line6"></div>
    <div class="date date6">May 2016 - July 2017</div>
    <div class="name6">
      <span>Cognizant Technology and Solution,</span> Kolkata - <br />
      <span>Programmer Analyst</span>
    </div>
    <div class="content6">
      Worked as a database Analyst with the team of<br />
      8 member for around a year.
    </div>
  </div>
</div>
<br />
<br />