<div class="total">
  <div class="heading">My<span>Projects</span></div>
  <hr />
  <div class="project1">
    <div class="circle circle1"><i class="fas fa-project-diagram"></i></div>
    <div class="line line1"></div>
    <div class="name"><span>EclipseNextGen</span> - Web Application</div>
    <div class="content1">
      Eclipse is an HP’s tool for the Market where customers can place orders
      and can see the offers for their products.<br> My Role was to create the AWS
      S3 wrapper for storing and retrieving the data directly inside this tool
      and also playing a pivotal role in migrating the tool to the latest
      version.
    </div>
  </div>

  <div class="project2">
    <div class="circle circle2"><i class="fas fa-project-diagram"></i></div>
    <div class="line line2"></div>
    <div class="name"><span>Contact Management</span> - Web Application</div>
    <div class="content2">
      Contact Management is a platform where different brands can make their
      press releases and can showcase their brand in front of the Media.<br> The
      project was initially built in Knockout.js, ASP.NET MVC WebServices but now
      it is getting migrated to SPA with the help of Angular and Dotnet Core
      Microservices.<br> 
      Role :<ul>
          <li> Developing Backend MicroServices</li>
          <li>Front End Development and Designing using Ng-Bootstrap</li>
          <li>Writing Queries</li>
          <li>Deploying code to the Azure environment.</li>
          <li>Configuring CI/CD pipelines as per requirement.</li>
      </ul>
      
      
      Duration : May 2020 - September 2020
    </div>
  </div>

  <div class="project3">
    <div class="circle circle3"><i class="fas fa-project-diagram"></i></div>
    <div class="line line3"></div>
    <div class="name">
      <span>Service Offer Sales Tool(SOST)</span> - Web Application
    </div>
    <div class="content3">
      SOST is a web tool which is being used by the Volvo trucks dealer to
      manage and maintain the trucks services.<br> SOSTUI has been built on Angular
      7 whereas SOSTRest is built on Dotnet Core 2.2  which has all the Rest APIs
      as well as the SQLServer Management Studio is used to store all
      the data.<br> Openshift container server is used to deploy all these
      into pods.<br>Role : <ul>
          <li>Developing Backend MicroServices</li>
          <li>Front End Development and Designing using Angular Material</li>
          <li>Writing Queries</li>
          <li> Creating New Tables and designing Db as per the requirement.</li>
          <li>Deploying code to the OpenShift environment.</li>
          <li>Configuring CI/CD pipelines as per
            requirement.</li>
      </ul>
      
         Duration : December 2019 -- May 2020
    </div>
  </div>

  <div class="project4">
    <div class="circle circle4"><i class="fas fa-project-diagram"></i></div>
    <div class="line line4"></div>
    <div class="name">
      <span>End To End Automation</span> - Web Application
    </div>
    <div class="content4">
      Test Result Comparison is the Web application built on the ASP.Net Core2.x
      using the SQLServer as database and IIS Server as Production Server.<br> This
      application aids people to see what kind of Automation test has been run
      on the different types of Industrial Human Machine Interface (HMI)
      Devices.<br> Also it gives details of the different types of Tests like Smoke
      Test, Integration Test and so on.<br> It’s a very vast application with which
      is being built with scratch.<br> Team Size : 2<br> Role : Business Logic and
      Handling the Database<br> Duration : October 2017 -- December 2019
    </div>
  </div>

  <div class="project5">
    <div class="circle circle5"><i class="fas fa-project-diagram"></i></div>
    <div class="line line5"></div>
    <div class="name">
      <span>ChargeBack Calculation(CBC)</span> - Web Application
    </div>
    <div class="content5">
      ChargeBack Calculation (CBC) - Web Application CBC is the web application
      built on the ASP.NET MVC5.<br> Primary objective of this application was to
      The project was based on the calculation of chargeback for the mutual fund
      investors and individual investors in different time zones.<br> Application
      gives the transparent and clear understanding to both Admin and single and
      group users to check the data and the investment amount.<br> Team Size : 5<br>
      Role : Team Lead (Front End Design, Business Logic and also handled
      DataBase)<br> Duration : January 2017 - July 2017
    </div>
  </div>

  <div class="project6">
    <div class="circle circle6"><i class="fas fa-project-diagram"></i></div>
    <div class="line line6"></div>
    <div class="name"><span>Fintech Security</span> - Web Application</div>
    <div class="content6">
      Fintech Security is the web application built on the ASP.Net MVC5.<br> This
      web app’s primary focus is the investment of the end user in the Bitcoin.<br>
      The Application revolves around the market fluctuation of the bitcoin and
      the amount user invested.<br> Also there was the section for the Loan user can
      take from the amount which he has invested.<br> Application was very complex
      and vast.<br> Technologies Used : <ul>
          <li>Front End - UI Design Bootstrap</li>
          <li>Front-End Dev - Angular 1</li>
          <li>Business Ligic - C#</li>
          <li>Database - SQL Sercer(Dev Side)</li>
          <li>Dev Server - IIS Exoress</li>
          <li>Production Server - Plesk (Windows Server on GoDaddy)</li>
          <li>Production Database - MyLittleAdmin</li>
      </ul>
             Team Size : 3 Role : Business Logic
      and Database Handler
    </div>
  </div>

  <div class="project7">
    <div class="circle circle7"><i class="fas fa-project-diagram"></i></div>
    <div class="line line7"></div>
    <div class="name"><span>DVMAX R</span> - Desktop Application</div>
    <div class="content7">
      Helped in the enhancement of the Veterinary Management<br> Software built on
      the C# Winforms.<br> Enhanced the way of sending reports in the existing
      software, by automating the mail sending.<br> Team Size : 3 <br>Role : Team Member
      ( Business Logic Development)
    </div>
  </div>

  <div class="project8">
    <div class="circle circle8"><i class="fas fa-project-diagram"></i></div>
    <div class="line line8"></div>
    <div class="name"><span>NewPal</span> - Mobile Application : Android</div>
    <div class="content8">
      Its an android application just like the Flatchat where new tenants and
      owner can come together and share their requirements of the flat.<br>
      Application was built using the Android Studio 2.3 Stable Channel Using
      the SQLite Database.<br> Team Size : 1 <br>Role : Full Stack Development
    </div>
  </div>

  <div class="project9">
    <div class="circle circle9"><i class="fas fa-project-diagram"></i></div>
    <div class="line line9"></div>
    <div class="name"><span>BMI Calci</span> - Web Application : Android</div>
    <div class="content9">
        It's a simple android application to calculate the Body Mass Index of the
        person.<br> Depending upon the Gender and also gives the user to share the
        details with the concerned person via Whatsapp Facebook or other social
        media.
    </div>
  </div>

  <div class="project10">
    <div class="circle circle10"><i class="fas fa-project-diagram"></i></div>
    <div class="line line10"></div>
    <div class="name"><span>Test Automation</span></div>
    <div class="content10">
        Automated several complex test cases using Nunit.<br> Written Test Cases for both Unit
        Testing and Integration Testing.<br>
    </div>
  </div>

  <div class="project11">
    <div class="circle circle11"><i class="fas fa-project-diagram"></i></div>
    <div class="line line11"></div>
    <div class="name"><span>Manual Testing</span> - Web Application</div>
    <div class="content11">
        Done Manual testing of the Industrial Automation Devices such as Human<br>
        Machine Interfaces (HMI) and Programmable logic Controller Unit (PLC)
    </div>
  </div>
</div>
<br>
