<div class="total">
  <div class="heading"><span>Contact</span> Me</div>
  <hr />

  <div class="sec1">
    <div class="topname">CONTACT INFO</div>
    <div class="email">
      <i class="fas fa-envelope"></i>&nbsp;&nbsp; saxena.kartik14@outlook.com
    </div>
    <div class="num"><i class="fas fa-phone"></i>&nbsp;&nbsp;  +91-8982039282</div>
    <div class="address">
      <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;  182/A 18th Main,<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sector-3, HSR Layout, <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bangalore 560102
    </div>
  </div>
  <div class="sec2">
    <div class="input1">
      <input type="text" placeholder="Enter Your Name" />
    </div>
    <div class="input2">
        <input type="email" placeholder="Enter Your Email"/>
    </div>
    <div class="input3">
        <input type="text" placeholder="Project Name"/>
    </div>
    <div class="input4">
        <input class="input5" type="text" placeholder="Description Of Project..."/>
    </div>
    <div class="btn"><i class="fas fa-paper-plane"></i></div>
  </div>
</div>
