<div class="total">
    <div class="photo">
        <img src="./../../assets/karthik sir pic.jpg">
    </div>
    <div class="name h1">Karthik Saxena</div>
    <div class="post h5">Senior Software Engineer</div>
    <div class="brdr"></div>
    <div class="button">
        <div class="btn btn1" routerLink='/'>Home</div>
        <div class="btn btn2" routerLink='/about'>About</div>
        <div class="btn btn3" routerLink='/education'>Education</div>
        <div class="btn btn4" routerLink='/skills'>Skills</div>
        <div class="btn btn5" routerLink='/experience'>Experience</div>
        <div class="btn btn6" routerLink="/projects">Projects</div>
        <div class="btn btn7" routerLink='/contact'>Contact</div>
    </div>
</div>