<div class="total">
  <div class="heading">My<span> Skills</span></div>
  <hr />
  <div class="CodingSkills">
    <div class="circle circle1"><i class="fas fa-code"></i></div>
    <div class="line line1"></div>
    <div class="skillname">Software Skills</div>
    <div class="langs">
      <ul>
        <li>ASP.Net Core</li>
        <li>MicroServices</li>
        <li>IIS Server Integration</li>
        <li>C#</li>
        <li>Angular 8+</li>
        <li>Angular Material</li>
        <li>NGRX</li>
        <li>NgxBootstrap</li>
        <li>Microsoft SQL Server</li>
        <li>Flutter</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>Hybrid Mobile<br> App Development</li>
        <li>System Design</li>
        <li>AWS SNS</li>
        <li>AWS EC2</li>
        <li>AWS RDS</li>
        <li>AWS S3</li>
        <li>OpenShift</li>
        <li>Azure DevOps</li>
        <li>gRPC</li>
        <li>GraphQL</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>CI/CD Pipelines</li>
        <li>Distributed Caching</li>
        <li>Load Balancing</li>
      </ul>
    </div>
  </div>
  <div class="toolsskills">
    <div class="circle circle2"><i class="fas fa-tools"></i></div>
    <div class="line2"></div>
    <div class="skillname1">Tools Skills</div>
    <div class="tools">
      <ul>
        <li>Visual Studio code</li>
        <li>Visual Studio 2019 Enterprise and Community</li>
        <li>SQL Server Management Studio</li>
        <li>Android Studio</li>
        <li>Eclipse</li>
        <li>Jira</li>
        <li>BitBucket</li>
        <li>Heroku Deployment Server tool</li>
        <li>Figma (UI/UX Design Tool)</li>
        <li>Sketch - Design Tool</li>
      </ul>
    </div>
  </div>
  <div class="integrationskills">
    <div class="circle circle3"><i class="fas fa-plus"></i></div>
    <div class="line3"></div>
    <div class="skillname2">Integration</div>
    <div class="integration">
      <ul>
        <li>Firebase</li>
        <li>Google APIs</li>
        <li>Entity Framework</li>
        <li>Sest API</li>
        <li>Selenium</li>
        <li>
          Social Media WebAPI including<br />
          (Facebook, Graph API, Twitter,<br> Linkedin, Instagram Stories API)
        </li>
        <li>Redis</li>
        <li>ElasticSearch</li>
      </ul>
    </div>
  </div>
  <div class="methodology">
    <div class="circle circle4"><i class="fas fa-link"></i></div>
    <div class="line4"></div>
    <div class="skillname3">SDLC Methodology</div>
    <div class="models">
      <ul>
        <li>Agile Software<br> Development</li>
        <li>Water Fall Model</li>
        <li>RAD Model</li>
      </ul>
    </div>
  </div>
  <div class="languages">
    <div class="circle circle5"><i class="fas fa-language"></i></div>
    <div class="line5"></div>
    <div class="skillname4">Languages</div>
    <div class="lang">
      <ul>
        <li>Hindi(Natiive)</li>
        <li>English(Proficient)</li>
        <li>Espanol(Beginner)</li>
      </ul>
    </div>
  </div>
  <div class="softskill">
    <div class="circle circle6"><i class="fas fa-user-tie"></i></div>
    <div class="line6"></div>
    <div class="skillname5">Soft Skills</div>
    <div class="quality">
      <ul>
        <li>Quick Learner</li>
        <li>Peachy Presenter</li>
        <li>Keen Observer</li>
        <li>Team Player</li>
        <li>Good in Team<br> Handling</li>
      </ul>
    </div>
  </div>
</div>